<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plomeria</title>
    <link rel="stylesheet" href="static/styles/Plomeria.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="icon" href="/static/img/Logo.png">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="titulo-header">Ferretería Y Pinturas De La Rosa</h1>
            <p class="slogan">Todo lo que necesitas para tus proyectos, en un solo lugar</p>
        </div>
        <nav>
            <div class="nav-container">
                <a href="/inicios" class="nav-link"><i class="fas fa-home"></i> Inicio</a>
                <a href="/Herramientas" class="nav-link"><i class="fas fa-tools"></i> Herramientas</a>
                <a href="/Electricidad" class="nav-link"><i class="fas fa-bolt"></i> Electricidad</a>
                <a href="/Materiales" class="nav-link"><i class="fas fa-boxes"></i> Materiales</a>
                <a href="/Nosotros" class="nav-link"><i class="fas fa-users"></i> Nosotros</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="categoria">
            <h2>Materiales de Plomeria</h2>
            <div class="grid-productos">

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="/static/img/codo.jpeg" alt="Codo PVC">
                    </div>
                    <div class="producto-info">
                        <h3>Codo: 2X15</h3>
                        <p class="descripcion-producto">Pieza en ángulo para unir tubos de 2 pulgadas a 15°, usada para desviar el flujo.</p>
                        <div class="precio">$15.00 indiviual, 25 X 2</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Te.jpeg" alt="Té">
                    </div>
                    <div class="producto-info">
                        <h3>Té</h3>
                        <p class="descripcion-producto">Conector en forma de “T” que permite dividir o unir tres tubos.</p>
                        <div class="precio">$15.00</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Reduccion.jpeg" alt="Reducción">
                    </div>
                    <div class="producto-info">
                        <h3>Reducción 3/4 a 1/2</h3>
                        <p class="descripcion-producto">Adaptador que conecta un tubo de 3/4 pulgada a uno de 1/2 pulgada.</p>
                        <div class="precio">$15.00</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Teflon.jpeg" alt="Teflón">
                    </div>
                    <div class="producto-info">
                        <h3>Teflón pequeño</h3>
                        <p class="descripcion-producto">Cinta selladora para evitar fugas en conexiones roscadas.</p>
                        <div class="precio">$20.00</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Copling.jpeg" alt="Copling">
                    </div>
                    <div class="producto-info">
                        <h3>Copling</h3>
                        <p class="descripcion-producto">Unión recta que conecta dos tubos del mismo diámetro.</p>
                        <div class="precio">$10.00</div>
                        
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Llave_paso_metalica.jpeg" alt="Llave paso">
                    </div>
                    <div class="producto-info">
                        <h3>Llave paso metalica</h3>
                        <p class="descripcion-producto">Usado para cortar o reanudar el paso de agua.</p>
                        <div class="precio">$270.00</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Llave_paso_plastica.jpeg" alt="Llave paso">
                    </div>
                    <div class="producto-info">
                        <h3>Llave paso pvc</h3>
                        <p class="descripcion-producto">Usado para cortar o reanudar el paso de agua donde no hay salitre.</p>
                        <div class="precio">$50</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Llave_paso_metalica.jpeg" alt="Llave paso">
                    </div>
                    <div class="producto-info">
                        <h3>Llave paso pvc</h3>
                        <p class="descripcion-producto">Usado para cortar o reanudar el paso de agua.</p>
                        <div class="precio">$270.00</div>
                    </div>
                </div>
                
                
                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Mezcladora de plastico.jpeg" alt="Mezcladora plastica">
                    </div>
                    <div class="producto-info">
                        <h3>Mezcladora de plastico</h3>
                        <p class="descripcion-producto">Aportan una mayor flexibilidad y control en la administración del agua</p>
                        <div class="precio">$650.00</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Mezcladora_metalica.jpeg" alt="Mezcladora metalica">
                    </div>
                    <div class="producto-info">
                        <h3>Mezcladora metalica</h3>
                        <p class="descripcion-producto">Aportan una mayor flexibilidad y control en la administración del agua siendo inmune contra el salitre</p>
                        <div class="precio">$950.00</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Cheke.jpeg" alt="Cheke">
                    </div>
                    <div class="producto-info">
                        <h3>Cheke</h3>
                        <p class="descripcion-producto">Sirven para que el agua no retorne luego de pasar.</p>
                        <div class="precio">$270.00</div>
                    </div>
                </div>

                <div class="producto">
                    <div class="producto-imagen-container">
                        <img src="static/img/Cheke_de_sinterna.jpeg" alt="Cheke de cinterna">
                    </div>
                    <div class="producto-info">
                        <h3>Cheke de cinterna</h3>
                        <p class="descripcion-producto">son fundamentales para proteger sistemas de tuberías de daños causados por el flujo inverso y asegurar un rendimiento óptimo del sistema </p>
                        <div class="precio">Undefined</div>
                    </div>
                </div>
                    
                

            </div>
        </section>
    </main>
</body>
</html>

